<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Controls"
            editpart_class="org.csstudio.iter.opibuilder.widgets.LabeledTextInputEditpart"
            icon="icons/textInputLabeled.png"
            model_class="org.csstudio.iter.opibuilder.widgets.LabeledTextInputModel"
            name="Text Input"
            typeId="org.csstudio.opibuilder.widgets.TextInput">
      </widget>
      <widget
            category="Controls"
            description="Will not show in palette."
            editpart_class="org.csstudio.iter.opibuilder.widgets.LabeledTextInputEditpart"
            icon="icons/nativeText.gif"
            model_class="org.csstudio.iter.opibuilder.widgets.LabeledTextInputModel"
            name="Native Text (Deprecated)"
            typeId="org.csstudio.opibuilder.widgets.NativeText">
      </widget>
   </extension>

</plugin>
