<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="CSS running" sequenceNumber="133">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.target.rcp.feature.feature.group" version="2.4.0.201605121035"/>
<repository location="http://download.eclipse.org/efxclipse/runtime-released/2.4.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="2.0.1.v201504171603"/>
<unit id="javax.jws" version="2.0.0.v201005080400"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
<unit id="javax.ejb.source" version="3.1.1.v201204261316"/>
<unit id="javax.security.auth.message.source" version="1.0.0.v201108011116"/>
<unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.el" version="2.2.0.v201303151357"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="javax.security.jacc.source" version="1.4.0.v201205031350"/>
<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
<unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="javax.servlet.jsp.jstl.source" version="1.2.0.v201105211821"/>
<unit id="javax.jws.source" version="2.0.0.v201005080400"/>
<unit id="javax.ejb" version="3.1.1.v201204261316"/>
<unit id="javax.servlet.jsp.source" version="2.2.0.v201112011158"/>
<unit id="javax.servlet.jsp.jstl.impl.source" version="1.2.0.v201210211230"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="javax.servlet" version="3.1.0.v201410161800"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.el.source" version="2.2.0.v201303151357"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="javax.security.auth.message" version="1.0.0.v201108011116"/>
<unit id="org.apache.batik.dom" version="1.7.1.v201505191845"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.6.2.v20161117-2150"/>
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="javax.websocket" version="1.0.0.v20140310-1603"/>
<unit id="javax.jms.source" version="1.1.0.v201205091237"/>
<unit id="javax.security.jacc" version="1.4.0.v201205031350"/>
<unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
<unit id="javax.wsdl.source" version="1.6.2.v201012040545"/>
<unit id="javax.resource" version="1.6.0.v201204270900"/>
<unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
<unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="javax.jms" version="1.1.0.v201205091237"/>
<unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
<unit id="javax.servlet.jsp.jstl" version="1.2.0.v201105211821"/>
<unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
<unit id="javax.websocket.source" version="1.0.0.v20140310-1603"/>
<unit id="javax.servlet.jsp.jstl.impl" version="1.2.0.v201210211230"/>
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201108011116"/>
<unit id="javax.servlet.jsp" version="2.2.0.v201112011158"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v201108011116"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="javax.resource.source" version="1.6.0.v201204270900"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="javax.validation.source" version="1.0.0.GA_v201205091237"/>
<unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201105210648"/>
<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="4.2.0.1"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.8.12.r10533_v20160129_0158"/>
<unit id="org.tigris.subversion.subclipse.feature.group" version="4.2.3.201707071932"/>
<unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.8.12.1"/>
<repository location="https://dl.bintray.com/subclipse/releases/subclipse/latest"/>
</location>
<location path="/home/codac-dev/Documents/Css-Development-Workspaces/CSS/diirt/p2/target/repository" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.source.feature.group" version="5.2.0.201608171824"/>
<repository location="https://dl.bintray.com/fabioz/pydev/5.2.0"/>
</location>
<location path="/home/codac-dev/Documents/Css-Development-Workspaces/CSS/cs-studio-thirdparty/repository/target/repository" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
<location path="/home/codac-dev/Documents/Css-Development-Workspaces/CSS/maven-osgi-bundles/repository/target/repository" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.brainwy.liclipsetext.feature.source.feature.group" version="2.1.1.201711052334"/>
<unit id="org.brainwy.liclipsetext.feature.feature.group" version="2.1.1.201711052334"/>
<repository location="https://dl.bintray.com/fabioz/liclipsetext/2.1.1/"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
